/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Barlow", sans-serif;
}

header {
  margin-top: 1.4375rem;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
  max-width: 1110px;
  margin-inline: auto;
}

main {
  margin-bottom: 6rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 162%;
  text-transform: uppercase;
  color: #162542;
  background: #e8eff2;
  border-radius: 0.5rem;
  padding: 0.6875rem 0.875rem;
  transition: all 0.3s ease-in;
}

.nav-btn:hover {
  color: #ffffff;
  background: #162542;
}

.main-heading {
  font-weight: 900;
  font-size: clamp(2.5rem, 2rem + 2vw, 3.5rem);
  line-height: 100%;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in;
}

.main-paragraph {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  color: #7b8bad;
  margin-bottom: 2rem;
}

.link-date {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 162%;
  text-transform: uppercase;
  color: #ffffff;
  background: #f16718;
  border-radius: 0.5rem;
  padding: 0.6875rem 0.875rem;
  text-wrap: nowrap;
  transition: all 0.3s ease-in;
}

.hero-btn:hover {
  background: #ff9b62;
  border-radius: 0.5rem;
}

.hero-date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 162%;
  text-transform: uppercase;
  color: #7b8bad;
}

.center-heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 112%;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 1.5rem;
}

.center-paragraph {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  color: #7b8bad;
}

picture img {
  border-radius: 1.25rem;
}

.container {
  padding: 0 1.5rem;
  max-width: 1110px;
  margin-inline: auto;
  margin-bottom: 6.9375rem;
}

.text-keyboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.keyboard {
  transition: all 0.5s ease-in-out;
}

.sec-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.phone-keyboard {
  background-color: #f16718;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.25rem;
  max-width: 255px;
  grid-column: 1/2;
  transition: all 0.3s ease-in;
  background-image: url("assets/mobile/image-phone-and-keyboard.jpg");
}

.glass-keyboard {
  grid-column: 2/3;
  /* max-width: 445px; */
  transition: all 0.3s ease-in;
}

.center-text-container {
  text-align: center;
  grid-column: 1/3;
}

.wrapper-container {
  max-width: 1110px;
  margin-inline: auto;
  padding: 0 1.5rem;
}

.wrapper {
  display: grid;
  row-gap: 4rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f16718;
  border-radius: 1rem;
  width: 4.0625rem;
  height: 4.0625rem;
  margin-bottom: 3rem;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h3 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 117%;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 1.5rem;
}

.box p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  color: #7b8bad;
}

a {
  text-decoration: none;
}

footer {
  margin-bottom: 3.125rem;
  text-align: center;
}

footer p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 162%;
  color: #7b8bad;
}

span {
  font-weight: 500;
}

.pattern-right,
.pattern-left {
  display: none;
}

/* Tablet styles 37.5rem*/
@media screen and (min-width: 800px) {
  header {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
    margin-bottom: 3.875rem;
  }

  main {
    margin-bottom: 8.875rem;
  }

  .nav-btn,
  .hero-btn {
    padding: 1rem 1.625rem;
  }

  .main-heading {
    margin-bottom: 2.125rem;
  }

  .main-paragraph {
    margin-bottom: 2.4375rem;
  }

  .container {
    padding: 0 2.5rem;
    margin-bottom: 8.875rem;
  }

  .text-keyboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 30px;
  }

  .text-container {
    width: 50%;
  }

  .keyboard {
    max-width: 540px;
    width: 50%;
  }

  .link-date {
    gap: 2.3125rem;
  }

  .center-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.25rem;
    text-align: left;
  }

  .center-heading {
    margin-bottom: 0;
  }

  .wrapper-container {
    padding: 0 2.5rem;
  }

  .wrapper {
    column-gap: 4.3125rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .box {
    text-align: left;
    align-items: flex-start;
  }

  .icon-wrapper {
    margin-bottom: 2.5rem;
  }

  footer {
    margin-bottom: 2.6875rem;
  }
}

/* Desktop styles */
@media screen and (min-width: 61rem) {
  body {
    overflow-x: hidden;
  }

  header {
    margin-top: 3.4375rem;
    margin-bottom: 5.1875rem;
  }

  main {
    margin-bottom: 8rem;
  }

  .main-heading {
    margin-bottom: 1.5rem;
  }

  .main-paragraph {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 2.5rem;
  }

  .container {
    align-items: center;
    margin-bottom: 10.5rem;
  }

  .text-keyboard {
    justify-content: space-between;
    position: relative;
  }

  .text-container {
    max-width: 27.8125rem;
  }

  .sec-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    position: relative;
  }

  .phone-keyboard {
    background-image: url("assets/desktop/image-phone-and-keyboard.jpg");
    grid-column: 1/2;
  }

  .glass-keyboard {
    grid-column: 2/3;
    max-width: 445px;
  }

  .center-text-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-self: center;
    gap: 0;
    max-width: 14.0625rem;
    grid-column: 3/4;
  }

  .link-date {
    gap: 2.5rem;
  }

  .center-heading {
    margin-bottom: 1.6875rem;
  }

  .box {
    max-width: 14.0625rem;
  }

  .wrapper {
    column-gap: 1.875rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .icon-wrapper {
    margin-bottom: 3rem;
  }

  footer {
    margin-bottom: 2.4375rem;
  }

  .pattern-right {
    display: block;
    position: absolute;
    top: 0;
    right: -290px;
  }

  .pattern-left {
    display: block;
    position: absolute;
    bottom: 0;
    left: -285px;
  }
}
